CONFIG_IMG_SECTORS=131072
CONFIG_BOOT_DYNAMIC_PARAMS=y
# CONFIG_BOOT_DEBUG is not set
CONFIG_BOOT_FLAGS_EXTRA=0x0
CONFIG_INITRAMFS_LOAD_ADDR=0x00100000
CONFIG_KERNEL_FS_DEVFS=y
CONFIG_KERNEL_FS_PROCFS=y
CONFIG_KERNEL_FS_FAT32=y
CONFIG_PS2_KEYBOARD=y
CONFIG_PS2_MOUSE=y
CONFIG_GRAPHICS_BACKEND_VGA=y
# CONFIG_GRAPHICS_BACKEND_VESA is not set
CONFIG_GRAPHICS_VGA_MODE=0x03
# CONFIG_GSHELL is not set
CONFIG_DEBUG_KERNEL_SERIAL_LOG=y
CONFIG_APPLET_PWD=y
CONFIG_APPLET_LS=y
CONFIG_APPLET_CAT=y
CONFIG_APPLET_GREP=y
# CONFIG_APPLET_LESS is not set
CONFIG_APPLET_MKDIR=y
# CONFIG_APPLET_MKFIFO is not set
# CONFIG_APPLET_MKSOCK is not set
CONFIG_APPLET_TOUCH=y
CONFIG_APPLET_RM=y
CONFIG_APPLET_RMDIR=y
CONFIG_APPLET_CP=y
CONFIG_APPLET_MV=y
CONFIG_APPLET_LN=y
CONFIG_APPLET_TEE=y
CONFIG_APPLET_MOUNT=y
CONFIG_APPLET_UMOUNT=y
# CONFIG_APPLET_LSBLK is not set
CONFIG_APPLET_ECHO=y
CONFIG_APPLET_PRINTF=y
# CONFIG_APPLET_HEXDUMP is not set
CONFIG_APPLET_REBOOT=y
CONFIG_APPLET_POWEROFF=y
# CONFIG_APPLET_BOOTLOADER is not set
# CONFIG_APPLET_UDP is not set
# CONFIG_APPLET_CHVT is not set
# CONFIG_APPLET_TTYINFO is not set
# CONFIG_APPLET_KBDINFO is not set
# CONFIG_APPLET_MOUSEINFO is not set
# CONFIG_APPLET_VESA is not set
# CONFIG_APPLET_VGA is not set
CONFIG_QEMU_MEM="4G"
CONFIG_QEMU_SERIAL="stdio"
